/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Goudy Bookletter 1911', serif;*/

body {
    background: url("../images/lightbg.png");
}

#nav {
    background: #e1e0dc url("../images/lightbg.png");
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.title {
    padding-top: 50px;
}

.top-section {
    background: transparent;
    border-bottom: 1px #cccccc solid;
}

.middle-section {
    background: rgba(255, 255, 255, 0.33);
    border-bottom: 1px #cccccc solid;
}

.bottom-section {
    background: rgba(102, 102, 102, 0.05);
    border-bottom: 1px #cccccc solid;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
    background: pink;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

h1 {
    font-family: 'Goudy Bookletter 1911', serif;
}

/*!*  GRID OF THREE  *!*/
/*.span_3_of_3 { width: 100%; }*/
/*.span_2_of_3 { width: 66.13%; }*/
/*.span_1_of_3 { width: 32.26%; }*/

/*!*  GO FULL WIDTH BELOW 480 PIXELS *!*/
/*@media only screen and (max-width: 480px) {*/
/*    .col {  margin: 1% 0 1% 0%; }*/
/*    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }*/
/*}*/